@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Регистрация</title>
    </head>
    <body>
        <form method="post">
            <p>
                <label>Логин</label><br />
                <input type="text" name="login" />
            </p>

            <p>
                <label>Пароль</label><br />
                <input type="password" name="password" />
            </p>

            <p>
                <label>Имя</label><br />
                <input type="text" name="name" />
            </p>
            <button type="submit">Зарегистрироваться</button>
        </form>
    </body>
</html>